<style>
.col-lg-12{ margin-bottom: 20px;}
.col-lg-12 .input-1{width: 15%; display: inline;}
</style>
<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <form id="searchForm" action="store.html" method="get">
        <input type="text" name="gid" value="" placeholder="店铺gid" class="form-control input-1">
        <input type="text" name="code" value="" placeholder="店铺code" class="form-control input-1">
        <input type="text" name="name" value="" placeholder="店铺名" class="form-control input-1">
        <input type="submit" id="addSysem" class="btn btn-success btn-xm" value="搜索" /></form>
    </div>
    <div class="col-lg-12">
      <div class="panel panel-default">
        <table id="tableRecords" class="table table-striped table-condensed table-hover" width="100%"></table>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
$(document).ready(function() {
  var oTable = $('#tableRecords').DataTable({
    //bFilter: false,
    "columnDefs": [
    {
      "title": "店铺gid",
      "targets": 0,
      "orderable": true,
      "searchable": true
    },
    {
      "title": "店铺code",
      "targets": 1,
      "orderable": true,
      "searchable": true
    },
    {
      "title": "店铺名",
      "targets": 2,
      "orderable": true,
      "searchable": true
    },
    {
      "title": "RN",
      "targets": 3,
      "orderable": true,
      "searchable": true
    },
    {
      "title": "同步类型",
      "targets": 4,
      "orderable": true,
      "searchable": true
    },
    {
      "title": "添加时间",
      "targets": 5,
      "orderable": false,
      "searchable": false
    }
    ],
    "stateSave": true,
    "order": [[0, "desc"]],
    "serverSide": false,
    //true代表后台处理分页，false代表前台处理分页
    "iDisplayLength": 20,
    // 每页显示多少条
    "iDisplayStart": 0,
    "ajax": {
      "url": window.ServerAPI.server + "/api/v1/list/store",
      "data": function(params) {
        var query = window.ServerAPI.params();
        if(query["gid"]) {
          params["gid"] = query["gid"];
          $("input[name=gid]").val(query["gid"]);
        }
        if(query["name"]) {
          params["name"] = query["name"];
          $("input[name=name]").val(query["name"]);
        }
        if(query["code"]) {
          params["code"] = query["code"];
          $("input[name=code]").val(query["code"]);
        }
        return params;
      }
    },
    "drawCallback": function(settings) {
      $("#tableRecords_filter").hide();
      $(".iframe").off('click').on('click',
      function(event) {
        event.preventDefault();
        var url = $(this).attr('href');
        var type = BootstrapDialog.TYPE_PRIMARY;
        if ($(this).attr('title') == '编辑') type = BootstrapDialog.TYPE_PRIMARY;
        if ($(this).attr('title') == '删除') type = BootstrapDialog.TYPE_DANGER;
        BootstrapDialog.show({
          title: $(this).attr('title') + '店铺管理',
          message: $('<div></div>').load(url),
          type: type,
        });
      });
    }
  });

  // var foot = $('#tableRecords').find('tfoot');
  // if (!foot.length) {
  //   foot = $('<tfoot>').appendTo($('#tableRecords'));
  //   var tr = $("<tr></tr>");
  //   for (var i = 0; i < $('#tableRecords thead th').length; i++) {
  //     $('<th>').appendTo(tr);
  //   }
  //   foot.append(tr);
  // }
  // yadcf.init(oTable, [{
  //   column_number: 1,
  //   filter_type: "text",
  //   filter_default_label: "搜索"
  // },
  // {
  //   column_number: 2,
  //   filter_type: "text",
  //   filter_default_label: "搜索"
  // },
  // {
  //   column_number: 3,
  //   filter_type: "text",
  //   filter_default_label: "搜索"
  // }], 'footer');
});
</script>
