<script src="/javascripts/distpicker.data.js?timestamp=<%= timestamp %>"></script>
<script src="/javascripts/distpicker.js?timestamp=<%= timestamp %>"></script>
<style>
#layui-layer1{ top:223px !important; }
.tishibuton .cs { margin: 0.5rem !important; }
.tishibuton .button { margin: 0.5rem !important; }
</style>
<div id="main">
  <div class="title">
    <div>
      <img src="/images/dhlp2.png?timestamp=1493162260">礼品兑换 -
      <img src="/images/renWu2.png?timestamp=1493162260">客户信息
    </div>
    <div>Gift Redemption - Customer</div>
  </div>
  <div class="prompt">
    请输入手机号码 / Mobile phone number:
  </div>
  <div class="search">
    <form action="javascript: window.TKH.queryMemberInfoJSON();">
      <input type="tel" id="search" placeholder="手机号码 / Mobile phone number" value="" />
      <a href="javascript:void(0)" onClick="window.TKH.queryMemberInfoJSON();" id="btn_search">
        <img src="/images/search.png?timestamp=1493162260">
      </a>
    </form>
  </div>
  <div class="content">
    <div class="content_1">
      <div class="act" data-id="1">
        <p>顾客信息 / Customer</p>
        <p>Information</p>
      </div>
      <div data-id="2" class='score-information'>
        <p>积分信息 / Points</p>
        <p>Records</p>
      </div>
      <div data-id="3" class='redeem-history'>
        <p>兑换记录 / Redeem</p>
        <p>History</p>
      </div>
    </div>
    <div class="content_2">
      <div data-id='1' style="display: block;">
        <div style="max-width: 25%;">
          <p>姓名 / Full name</p>
          <input type="text" id="mz" value="" />
        </div>
        <div style="max-width: 25%;">
          <p>性别 / Gender</p>
          <select name="" id="xb">
            <option value="男" selected>男 / M</option>
            <option value="女">女 / F</option></select>
        </div>
        <div style="max-width: 25%;">
          <p>出生日期 / Birthday</p>
          <input type="date" id="ymd" value="" />
        </div>
        <div class="dz" style="">
          <p>居住地址 / Live Address</p>

          <form class="form-inline">
            <div id="live_dz_distpicker">
              <div class="form-group">
                <label class="sr-only" for="ldd_province">选择省</label>
                <select class="form-control" id="ldd_province"></select>
              </div>
              <div class="form-group">
                <label class="sr-only" for="ldd_city">选择市</label>
                <select class="form-control" id="ldd_city"></select>
              </div>
              <div class="form-group">
                <label class="sr-only" for="ldd_district">选择区</label>
                <select class="form-control" id="ldd_district"></select>
              </div>
              <div class="form-group">
                <input style="display:inline-block;min-width:320px;" type="text" id="live_dz" value="" />
              </div>
            </div>
          </form>
        </div>
        <div class="dz">
          <p>工作地址 / Work Address</p>

          <form class="form-inline">
            <div id="work_dz_distpicker">
              <div class="form-group">
                <label class="sr-only" for="wdd_province">选择省</label>
                <select class="form-control" id="wdd_province"></select>
              </div>
              <div class="form-group">
                <label class="sr-only" for="wdd_city">选择市</label>
                <select class="form-control" id="wdd_city"></select>
              </div>
              <div class="form-group">
                <label class="sr-only" for="wdd_district">选择区</label>
                <select class="form-control" id="wdd_district"></select>
              </div>
              <div class="form-group">
                <input style="display:inline-block;min-width:370px;" type="text" id="work_dz" value="" />
              </div>
            </div>
          </form>
        </div>
        <div class="dz legal-provision-dz">
          <p>
            <input id='checkbox_legal' type="checkbox" checked="checked" style="width: 0.4rem;" />
            同意并愿意遵守兴业太古汇
            <a class="legal-provision-link" href="javascript:void(0);">会员计划章程及细则</a>
          </p>
        </div>
      </div>
      <div data-id="2" id="ScoreInfo">
        <div style="display: block;width: 50%;margin: 0 20%;margin-bottom: 15px;">
          <p style="display: inline-block;">姓&nbsp;&nbsp;名: </p>
          <input style="width: 80%;" type="text" class="score-field member-name" value="" />
        </div>
        <div style="display: block;width: 50%;margin: 0 20%;margin-bottom: 15px;">
          <p style="display: inline-block;">会员号: </p>
          <input style="width: 80%;" type="text" class="score-field member-card-number" value="" />
        </div>
        <div style="display: block;width: 50%;margin: 0 20%;margin-bottom: 15px;">
          <p style="display: inline-block;">总积分: </p>
          <input style="width: 80%;" type="text" class='score-field member-score' value="" />
        </div>
      </div>
      <div data-id="3" id="ExchangeInfo">
        <div class="xf">
          <p>兑换日期 : 礼品 / Redemption date : gifts</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <div class="anNiu">
    <a href="javascript:void (0)" class="bc" onClick="window.TKH.openCardJson();">保存
      <br/>Save
    </a>
    <a href="javascript:void (0)" class="xy" style="display:block">下一页
      <br/>Next</a>
  </div>
</div>
<div class="tishibuton-area" style="display:none;">
  <div style="min-height:120px; text-align:center; font-size:16px; line-height:30px; background: #333; color:lightgray;padding-top:20px;">
    <p class="">是否只做问卷，不添加消费信息、兑换信息等？</p>
    <div style="margin: 0 auto;margin-top:20px;">
    <a href="javascript:void(0);" onclick="window.TKH.redirect_to_with_timestamp('score-input.html');" class="button score-input" style='display: none;'>积分录入</a>
    <a href="javascript:void(0);" onclick="window.TKH.redirect_to_with_timestamp('questionnaire.html');" class="button">填写问卷</a>
    <a style="margin-right:20px"  href="javascript:void(0);" onclick="window.TKH.redirect_to_with_timestamp('entry.html?from=search.html');" class="button">消费兑换</a>
  </div>
  </div>
</div>
<div class="regisitered-area" style="display:none;">
  <div style="text-align:center; font-size:14px; line-height:30px; background: #333; color:lightgray;padding-bottom:20px;">
    <p style="">注册成功，卡号：
      <span id="fnum_span" style="color: white;font-size:18px">123123</span>
    </p>

    <p class="sm">请扫描二维码, 同步在微信端绑定会员卡 </p>
    <p class="sm"><img src="/images/ewm.png?timestamp=1493162260" style="max-width:200px; max-height: 200px;" /></p>
  </div>
</div>
<div class="gn">
  <div class="dj">
    <div>
      <img src="/images/gn1.png?timestamp=1493162260" class="xs" alt="">
      <img src="/images/gn2.png?timestamp=1493162260" class="yc" alt="">
    </div>
    <div style="display:none;">
      <img src="/images/gn2.png?timestamp=1493162260">
    </div>
  </div>
  <div class="nr">
    <div>礼品兑换系统</div>
    <p class="lp">
      <a href="search.html">
        <img src="/images/dhlp.png?timestamp=1493162260">礼品兑换</a></p>
    <p class="mm">
      <img src="/images/bi.png?timestamp=1493162260" class="bi" alt="">修改密码</p>
    <p class="tuichu" onClick="window.TKH.logout();">
      <img src="/images/dl2.png?timestamp=1493162260">退出登录</p>
    <div class="renWu">
      <img src="/images/renWu.png?timestamp=1493162260">
      <p id="userGid"></p>
      <p class="time">123</p>
    </div>
  </div>
</div>
<div class="xg">
  <div>
    <a href="javascript:void (0)" class="gb">
      <img src="/images/gb.png?timestamp=1493162260"></a>
    <div class="xg_content">
      <div class="suo">
        <img src="/images/bi.png?timestamp=1493162260"></div>
      <div class="xg_info">
        <p class="title">修改密码</p>
        <input type="password" id="oldPassword" placeholder="旧密码" />
        <input type="password" id="newPassword" placeholder="新密码" />
        <input type="password" id="rePassword" placeholder="再次输入新密码" />
        <a onclick='window.ServerAPI.resetPassword();' href="javascript:void(0);" class="cs mima">确认修改密码</a></div>
    </div>
  </div>
</div>
<script>
$(function(){
  $('#live_dz_distpicker,#work_dz_distpicker').distpicker({autoSelect: false});
  window.localStorage.removeItem("current_telphone");
  window.localStorage.removeItem("questionnaire");

  $("#ymd").attr("max", (new Date()).format('yyyy-MM-dd'));
  $(".legal-provision-link").click(function() {
    layer.open({
      type: 2,
      offset: '50px',
      title: '会员计划章程及细则',
      area: ['500px', '600px'],
      content: 'legal-provision.html',
      success: function(layero){
        layer.setTop(layero);
      }
    });
  });
  //顾客信息记录选择
  $('.content_1 > div').click(function() {
      if(!$(this).hasClass('act')){
        $('.content_1 .act').removeClass('act');
        $(this).addClass('act');
        $('.content_2>div').hide();
        $('.content_2>div:eq('+$(this).index()+')').show();
      }

      var sFCardNum = window.localStorage.getItem('sFCARDNUM');
      if($(this).hasClass("score-information")) {
        if(sFCardNum) {
          layer.msg('获取中...', {
              icon: 16
              ,shade: 0.01
              ,time: 1000
          });

          var userJSONstr = window.localStorage.getItem("current_telphone");

          if(userJSONstr) {
            var userJSON = JSON.parse(userJSONstr);
            $("#ScoreInfo .member-name").val(userJSON["name"]);
            $("#ScoreInfo .member-card-number").val(userJSON["card_number"]);
            $("#ScoreInfo .member-score").val(userJSON["total_score"]);
          }
        }
      }

      if($(this).hasClass("redeem-history")) {
          if(sFCardNum !== null) {
            layer.msg('获取中...', {
                icon: 16
                ,shade: 0.01
                ,time: 1000
            });

            window.TKH.queryScorePrizeBillJson();
          }
      }
  })

  //下一页
  $('.xy').on('click',function(){
      var phone = $('#search').val();
      var name =  $('#mz').val();
          if (!phone || !name) {
              layer.tips('请输入手机号码,查询用户或新增用户！', '#search', {
                tips: [3, '#faab20']
              });
              return false;
          }
      var $phe=/^(13[0-9]|15[0-9]|17[0-9]|18[0-9]|14[0-9])[0-9]{8}$/;
      if(!($phe.test(phone))){
        layer.msg('请输入正确的手机号码',{time: 2000});
        return false;
      }

      var card_number = window.localStorage.getItem('sFCARDNUM');
      if(card_number && !isNaN(card_number)) {
        $(".tishibuton-area .score-input").css({"display": "inline"});
      }
      layer.open({
        type:1,
        area:"450px",
        content:$('.tishibuton-area')
      });
  });

  var cookie = window.localStorage.getItem('sClientCookie'),
      userGid = window.localStorage.getItem('userGid');
  $("userGid").html(userGid);
})
</script>
