:javascript
   $(document).ready(function() {
        //提交数据
        var tableId = "tableRecords";
        var frm     = $('#ajaxform');
        frm.submit(function () {
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                cache: false,
                dataType: 'json',
                beforeSend: function() {
                    $(".validator-error").remove();
                    $(".has-error").removeClass("has-error");
                },
                success: function(data) {
                    if(data.status == 0){
                        $.scojs_message(data.message, $.scojs_message.TYPE_ERROR);
                    }else {
                        BootstrapDialog.closeAll();
                        $('#'+tableId).DataTable().ajax.reload();
                        $.scojs_message(data.message, $.scojs_message.TYPE_OK);
                    }
                },
                error: function(xhr, textStatus, thrownError) {
                    alert('Something went to wrong.Please Try again later...');
                }
            });
            return false;
        });
    });
