= haml :"template/member/_form"

:javascript
  window.CRUD = {
    submit: "更新",
    action: "#{ENV['API_SERVER']}/api/v1/update/member/#{@record.id}"
  }

= haml :"template/javascripts/create_or_update"
