@charset "UTF-8";
.layui-layer-btn a {
  font-size: 12px;
}

/*初始化样式*/
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}
/* 全局初始化样式 */
html,body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,input,img,span,button,textarea{
    margin:0;padding:0;border:0;
    font-family: "Microsoft YaHei", "微软雅黑", "SimSun", "宋体";
}
html,body{background:#fff;color:#000;height: 100%;-webkit-tap-highlight-color:rgba(0,0,0,0)}
ul,ol{list-style-type:none;  }
select,input,img,select{vertical-align:middle;}
a{text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;}
button,input[type="button"]{border: none;background-color: #bebdc8;color: #fff;outline: none;}
/*去除iphone默认样式*/
input[type="submit"], input[type="reset"], input[type="button"], button {  -webkit-appearance: none; }
input{outline:none;}
#jiaZai{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #fff;
    text-align: center;
    z-index: 9999999;
}
#jiaZai img{
    width: 40%;
    margin: 10% auto;
    -webkit-animation:zhuanQuan 1s infinite;
}
@-webkit-keyframes zhuanQuan {
    0% {
        -webkit-transform:rotate(360deg);
    }
    100% {
        -webkit-transform:rotate(0deg);
    }
}
/*------------------------------------main1-------------------------------------------*/
body,html{
    margin: 0 auto;
}
#main {
    height: 100%;
    position: relative;
    overflow: auto;
    -webkit-touch-callout:none;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    -webkit-user-select:none;
    -webkit-overflow-scrolling : touch;
}
img{width: 100%;}


/*------------------------------------重设密码-------------------------------------------*/
