default: &default
  app_name: 'redeem'
  admin_nums:
    - 'admin'
  website:
    title: 'title'
    subtitle: 'subtitle'
    slogan: 'todo'
    favicon: '/images/favicon.png'
    api_server: 'api_server'
    footer: ''
  unicorn:
    timeout: 30
    worker_processes: 3
  email:
    username: 'username'
    password: 'password'
  crm:
    env: 'development'
    development:
      server: -
      userGid: '-'
      userPwd: -
      storeCode: '-'
      workStation: '-'
      oper: -
    production:
      server: -
      userGid: '-'
      userPwd: -
      storeCode: '-'
      workStation: '-'
      oper: -

production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
