default: &default
  server:
    app_root_path: "/var/www/project"
    host: "123.456.789.10"
    user: "username"
    password: "password"
production:
  <<: *default

development:
  <<: *default

test:
  <<: *default
