#main {
    background:url('../images/bg-blur.jpg');
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    -webkit-animation: fadeIn .6s backwards;
    display: none;
}
@media only screen and (min-width: 1366px){
#main { background-size: 100% 100%;}
}



.title img{width: 0.5rem;margin-top: -0.1rem;}
.title img:nth-child(2){width: 0.4rem;}
.title{
    color: #ddd;
    font-size: 0.6rem;
    text-align: center;
    margin-top: 1rem;
}

.content{
    width: 90%;
    margin: 0.6rem auto 0;
}
.content_1{overflow: hidden;}
.content_1>div{
    float: left;
    width: auto;
    color: #777;
    background-color: #505050;
    font-size: 0.4rem;
    text-align: center;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}
.content_1>div:nth-child(2){margin: 0 0.5%;}
.content_1 .act{
    color: #fdc82f;
    background-color: #303030;
}
.act img{
    width: auto;
    height: 0.4rem;
    margin: -0.1rem 0.2rem 0 0;
}
.content_1 p{
    line-height: 1rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.content_2{
    background-color: #303030;
    padding: 0 0.8rem;
    overflow: auto;
    min-height: 8rem;
    max-height: 12rem;
}
.xinZeng{
    display: inline-block;
    padding: 0.2rem 0.6rem;
    font-size: 0.4rem;
    font-weight: bold;
    background-color: #428bca;
    color: #ddd;
}
.xinZeng:active{ background-color: #357ebd;}
.content_2 p{
    color: #888;
    font-size: 0.34rem;
    text-indent: 10px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.content_2 > div{
    overflow: hidden;
    margin-top: 0.2rem;
    position: relative;
}
.content_2 > div > div{
    float: left;
    width: 25%;
    padding: 0 1%;
    margin-bottom: 0.5rem;
}
.content_2 input{
    width: 90%;
    background-color: #505050;
    height: 0.8rem;
    color: #ddd;
    text-indent: 10px;
    font-size: 0.34rem;
}
.content_2 input:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(253,200,47,.6);
    -webkit-transition:box-shadow .7s;
}

.dp input{
    width: 80%;
}
.search{
    float: right;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.1rem;
    text-align: center;
    background-color: #428bca;
    margin-top: 0.41rem;
}
.search img{
    width: 50%;
    vertical-align: top;
    margin-top: 25%;
}
.jian{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.1rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0.6rem;
    background-color: #d9534f;
    font-size: 0.6rem;
}
.jian:active{ background-color: #d43f3a;}


.anNiu{
    width: 90%;
    margin: 0.6rem auto 0;
    text-align: center;
}
.anNiu a{
    font-size: 0.34rem;
    padding: 0.2rem 1.8rem;
    margin-bottom: 1rem;
}
.xy{float: right;}
.sy{float: left;}
.xy,.sy{
    background-color: #B18C20;
    color: #222;
}
.xy:active,.sy:active{background-color: #fdc82f;}
.bc{
    background-color: #d9534f;
    color: #fff;
    float: right;
    display: none;
}
.bc:active{background-color: #d43f3a;}


.xg input{
    background-color: inherit;
    border-bottom: 1px #505050 solid;
    color:#ddd;
}
.xg input:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(253,200,47,.6);
    -webkit-transition:box-shadow .7s;
}

.xg .title{margin-top: 0;}

/*.xg .cs{width: 89%;}*/

.xg .suo{margin-top: 2rem;}


.xuanZe{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
}
.xuanZe>div{
    width: 90%;
    height: 90%;
    background-color: #505050;
    margin: 5% auto 0;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.xuanZe_gb{
    display: block;
    width: 0.6rem;
    position: absolute;
    right: 0.5rem;
}
.xuanZe p{
    color: #ccc;
    font-size: 0.8rem;
    margin-top: 1rem;
}
.xuanZe p img{
    width: 1rem;
    margin-top: -0.1rem;
}
.hangHu{
    width: 90%;
    height: 85%;
    margin:0.8rem auto 0;
    overflow: auto;
    text-align: left;
}
.hangHu>div{
    display: inline-block;
    width: 48.7%;
    height: 3.4rem;
    max-width: 199px;
    position: relative;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}
.hangHu>div>div{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.hangHu>div p{
    font-size: 0.35rem;
    margin-top: 0.6rem;
    color: #555;
}
