#main {
    background: url('../images/bg-blur.jpg') no-repeat center;
    background-size: 100% 100%;
    -webkit-animation: fadeIn .6s backwards;
    display: none;
}
@media only screen and (min-width: 1366px){
    #main { background-size: 100% 100%;}
}
.xy{
    background-color: #B18C20;
    color: #222;
}
.xy:active{background-color: #fdc82f;}


.xg input{
    background-color: inherit;
    border-bottom: 1px #505050 solid;
    color:#ddd;
}
.xg input:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(253,200,47,.6);
    -webkit-transition:box-shadow .7s;
}

.xg .title{margin-top: 0;}

/*.xg .cs{width: 89%;}*/

.xg .suo{margin-top: 2rem;}


.title img{width: 0.5rem;margin-top: -0.1rem;}
.title{
    color: #ddd;
    font-size: 0.6rem;
    text-align: center;
    margin-top: 1rem;
}

.content{
    width: 90%;
    margin: 0.6rem auto 0;
}
.content_1{overflow: hidden;}
.content_1>div{
    float: left;
    width: auto;
    color: #777;
    background-color: #505050;
    font-size: 0.4rem;
    text-align: center;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}
.content_1>div:nth-child(2){margin: 0 0.5%;}
.content_1 .act{
    color: #fdc82f;
    background-color: #303030;
}
.act img{
    width: auto;
    height: 0.4rem;
    margin: -0.1rem 0.2rem 0 0;
}
.content_1 p{
    line-height: 1rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.wt,.kx{
    font-size: 0.4rem;
    color: #ddd;
    text-align: center;
    margin-top: 0.5rem;
}
.kx{
    text-align: left;
    background-color: rgba(0,0,0,0.5);
    width: 90%;
    margin: 0.5rem auto;
    padding: 0.3rem 0;
    font-size: 0.5rem;
}
.kx img{
    width: 0.5rem;
    margin: -0.04rem 0.2rem 0 0.5rem;
}
.kx span{
    float: right;
    width: 1rem;
    line-height: 0.7rem;
    text-align: center;
    background-color: #000;
    font-size: 0.4rem;
    color: #ddd;
    border-radius: 100px;
    margin-right: 0.5rem;
}

.xz{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.xz > div{
    display: inline-block;
    height: 2rem;
    width: 44%;
    max-width: 194px;
    background-color: #fff;
    padding: 0.5rem 2%;
    font-size: 0.4rem;
    margin: 0.1rem;
    margin-bottom: 0.2rem;
    vertical-align: top;
    overflow: hidden;
    color: #333;
    font-weight: bold;
}
.xuanZhong{box-shadow:0 0 0 4px #e21116;}

.anNiu{
    width: 90%;
    margin: 0.6rem auto 0;
    text-align: center;
}
.anNiu a{
    font-size: 0.34rem;
    padding: 0.2rem 2rem;
    margin-bottom: 1rem;
}
.xy{float: right;}
.sy{float: left;}
.xy,.sy{
    background-color: #B18C20;
    color: #222;
}
.xy:active,.sy:active{background-color: #fdc82f;}

.xz textarea{
    width: 96%;
    background-color: rgba(0,0,0,0.2);
    height: 7.5rem;
    color: #ddd;
    text-indent: 12px;
    font-size: 0.34rem;
    resize: none;
    display: block;
    margin: 0.2rem auto 0;
    border: white 1px dotted;
}

.xz div textarea{
    width: 96%;
    background-color: rgba(0,0,0,0.2);
    height: 1.5rem;
    color: #222;
    text-indent: 12px;
    font-size: 0.34rem;
    resize: none;
    display: block;
    margin: 0.2rem auto 0;
}
.questionnaire-subject-title { color: black; font-size: 24px; }
