.xg{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
}
.xg>div{
    background-color: #333;
    width: 94%;
    overflow: hidden;
    margin: 3rem auto 0;
}
.xg .gb{
    float: right;
    width: 0.5rem;
    height: 0.5rem;
    display: block;
    margin: 0.3rem 0.5rem 0 0;
}
.xg .gb img{vertical-align: top;}

.xg_content{margin-top: 1.6rem;}
.xg_content>div{float:left;}
.xg .suo{
    width: 32%;
    height: 6rem;
    border-right: 1px #fff solid;
}
.xg .suo img{
    width: 50%;
    margin: 0 auto;
    display: block;
}
.xg_info{
    width: 58%;
    padding: 0 4% 8%;
}
.xg .title{
    font-size: 1rem;
    color: #fff;
    text-align: center;
    margin: 0.3rem 0;
}
.xg .sm{
    font-size: 0.4rem;
    color: #888;
    text-align: center;
    margin-bottom: 0.5rem;
}

.xg_info input{
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    height: 1.1rem;
    font-size: 14px;
    text-indent: 14px;
    margin-top: 0.5rem;
}
.xg .cs,
.xg .button,
.tishibuton-area .button {
    float: right;
    padding: 0 0.6rem;
    line-height: 1rem;
    font-size: 14px;
    color: #222;
    background-color: #B18C20;
    text-align: center;
    margin: 0.5rem 0;
}
