<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
           <li class="treeview">
              <a href="#">
              <i class="fa fa-fw  fa-dashboard"></i> <span>管理员管理</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                  <li><a href="/admin/user.shtml"><i class="fa fa-fw fa-info"></i>后端管理员</a></li>
                  <li><a href="/admin/manager.shtml"><i class="fa fa-fw fa-info"></i>管理员管理</a></li>
              </ul>
          </li>
            <li><a href="/admin/member.shtml"><i class="fa fa-fw fa-paper-plane-o"></i>会员管理</a></li>
            <li><a href="/admin/consumer.shtml"><i class="fa fa-fw fa-paper-plane-o"></i>消费管理</a></li>
                       
            <li class="treeview">
                <a href="#">
                <i class="fa fa-fw  fa-dashboard"></i> <span>店铺管理</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/store.shtml"><i class="fa fa-fw fa-info"></i>店铺列表</a></li>
                    <li><a href="/taikooli/public/admin/store/geng-store-info"><i class="fa fa-fw fa-info"></i>同步店铺</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                <i class="fa fa-fw  fa-dashboard"></i> <span>礼品管理</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/gift.shtml"><i class="fa fa-fw fa-info"></i>礼品列表</a></li>
                    <li><a href="/taikooli/public/admin/gift/geng-gift-info"><i class="fa fa-fw fa-info"></i>同步礼品</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                <i class="fa fa-fw  fa-dashboard"></i> <span>问卷管理</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/question.shtml"><i class="fa fa-fw fa-info"></i>问卷列表</a></li>
                    <li><a href="/admin/question/member-list.shtml"><i class="fa fa-fw fa-info"></i>回答列表</a></li>
                    <li><a href="/admin/question/geng-question.shtml"><i class="fa fa-fw fa-info"></i>问卷同步</a></li>
                    <li><a href="/admin/question/question-data-com.shtml"><i class="fa fa-fw fa-info"></i>问卷重新提交</a></li>
                </ul>
            </li>
            <li><a href="/admin/exchange.shtml"><i class="fa fa-fw fa-paper-plane-o"></i>兑换信息管理</a></li>
            <li><a href="/admin/system/system.shtml"><i class="fa fa-fw fa-info"></i>配置设置</a></li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>