:css
  .content {
    width: 90%;
    margin: 0.6rem auto 0;
  }
  .disabled { pointer-events: none; background-color: gainsboro !important; }
  .layui-layer-btn a { font-size: 12px; }
  .anNiu a{width:30%;}
  .ptt1{color:black;font-size:0.5rem;text-align:center;padding-bottom:10px;}
  #signatureparent{color:#000;padding-bottom:10px;}
  #signature{margin:0px auto;background:#fff;color:#000;}
  #jSignature{height:300px;width:70%;}
  #main{display:block;visibility:hidden;}

.content
  #signatureparent
  .ptt1 客户签字
  #signature

:javascript
  // var $sigdiv = $("#signature");
  // $sigdiv.jSignature({ 'UndoButton': false });
  // $sigdiv.jSignature("reset");
  // $sigdiv.jSignature("setData", "data:#{@record.signature}");

  $(function() {
    var $sigdiv = $("#signature");
    $sigdiv.jSignature({ 'UndoButton': false });
    $(".clearsign").bind("click",
    function() {
      $sigdiv.jSignature("reset");
    });

    datapair = $sigdiv.jSignature("getData", "base30");
    console.log(datapair);;
    $('#main').css({"visibility": "visible"});

    $sigdiv.jSignature("setData", "data:image/jsignature;base30,7M210226663362200Z34340Y378cfmjhid86Z5qq1D1M1U1J1y_3RZ46b7eeb852Y78dhgcba6Z579994200Y45334dabegkh_aM454765444222255aec966a7753_2vbbbhfda7533550Z37aa65364543_ePZ1000Y33434341_2X678c9bdcbbc9");
  })
