<footer class="main-footer">
  <div class="pull-right hidden-xs">
    version: <b>0.3.4</b>
  </div>
  <span id="copyright"></span> all rights reserved.
</footer>
<script type="text/javascript">
$(document).ready(function() {
  var developedYear = "2017",
      todayYear = (new Date()).getFullYear(),
      copyrightYield = developedYear;

  if(parseInt(developedYear) < parseInt(todayYear)) {
    copyrightYield = developedYear + '-' + todayYear;
  }
  document.getElementById("copyright").innerHTML = "copyright © " + copyrightYield + " <a href='#'>hd studio</a>.";
});
</script>
